.menu_container {
    display: flex;
    flex: 1;

    .items_list {
        display: flex;
        justify-content: space-around;
        padding-inline-start: 0;
        margin: 0;
        height: 100%;
        width: 100%;
    
        li {
            display: flex;
            align-items: center;
            list-style: none;

            a {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                text-align: center;
            }
        }
    }

    &__left {
        .items_list {
            justify-content: start;

            li {
                height: 100%;
                aspect-ratio: 1;
                position: relative;

                a {
                    position: inherit;
                    border-radius: 50%;
                    overflow: hidden;
                    transition: transform 0.2s 0.2s ease;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }

    &__center {
        visibility: visible;
    }

    &__right {
        .items_list {
            justify-content: flex-end;

            li {
                padding-inline-start: 1rem;
                padding-inline-end: 1rem;
                margin-inline-end: 1rem;
                border-radius: 2rem;
                transition-property: background-color, color;
                transition-duration: 0.2s;
                transition-delay: 0.1s;

                &:hover {
                    color: white;
                    background-color: cadetblue;
                }
            }
        }
    }
}