
.animatedObjContainer {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.animatedObjContainer .animatedObj {
    display: flex;
    width: 10rem;
    height: 10rem;
    position: absolute;
    z-index: inherit;
    background-color: blueviolet;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.animatedObjContainer .animatedObj .animatedObjContent {
    display: inline-block;
}