@import 'variables.scss';

nav {
    &.navbarMain {
        background-color: limegreen;
        height: $navbar-height;
        width: 100%;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
    }
}